.website-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-content > div {
    height: 85%;
    width: 90%;
    background-color: #F7F6F2;
    border-radius: 18px;
    border: 1px solid #4B6587;
    box-shadow: 2px 2px 6px 0px #00000040;
    margin: 80px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    overflow: auto;
}

.website-content > div > div {
    width: 100%;
}

.basic-header {
    border-bottom: 2px solid #C8C6C6;
    font: 21px Segoe UI;
    color: #4B6587;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 10fr 1fr 2fr;
    grid-row-gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    min-height: 500px;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #C8C6C6;
    caret-color: #C8C6C6;
    color: #C8C6C6;
    font: 100% Segoe UI;
    width: 100%;
}

textarea {
    border-radius: 6px;
    border: 1px solid #C8C6C6;
    color: #C8C6C6;
    font: 16px Segoe UI;
    padding: 8px;
    min-height: 20px;
}

input::placeholder {
    font: 100% Segoe UI;
    color: #C8C6C6;
    text-decoration: none;
}

.view-panel {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    width: 100%;
    padding: 20px;
}

.ingredient-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 0px 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.ingredient-list > div {
    background-color: #4B6587;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px Segoe UI;
}

.recipe-body {
    color: #4B6587;
    font: 16px Segoe UI;
}

.view-image {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #4B6587;
    width: 100%;
}

.view-image > img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.comments-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    color: #4B6587;
}

.comment-form {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: auto;
}

.input-twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.post-button {
    border-radius: 6px;
    border: 1px solid #4B6587;
    background-color: #C8C6C6;
    font: 18px Segoe UI;
    color: #4B6587;
}

.comment-box {
    border-radius: 6px;
    border: 1px solid #4B6587;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.comment-box-header {
    border-bottom: 1px solid #4B6587;
    margin-bottom: 10px;
}

.comment-box-content {
    color: #C8C6C6;
    font: 14px Segoe UI;
}

@media only screen and (orientation: portrait) {
    .website-content > div {
        height: 60%;
        width: 100%;
        margin: 50px;
        overflow: scroll;
    }

    .view-panel {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        grid-column-gap: 20px;
        width: 100%;
        padding: 20px;
    }
}
