.website-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 80px;
    overflow: auto;
    box-sizing: border-box;
}

.website-content > div {
    height: 350px;
    background-color: #F7F6F2;
    border-radius: 18px;
    border: 1px solid #4B6587;
    box-shadow: 2px 2px 6px 0px #00000040;
}

.dish-img {
    position: relative;
    background-color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish-header {
    width: 100%;
    height: 20%;
    top: 40%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.dish-header-name {
    vertical-align: middle;
    color: #4B6587;
    font: 21px Segoe UI;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.dish-header-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish-header-time > p {
    margin: 1px;
    font: 12px Segoe UI;
    color: #4B6587;
}

.dish-ingredients {
    width: 100%;
    height: 40%;
    top: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0px 20px 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.dish-ingredients > div {
    background-color: #4B6587;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px Segoe UI;
}

.dish-img > img {
    width:100%;
    object-fit: fill;
}

@media only screen and (orientation: portrait) {
    .website-content {
        grid-template-columns: 1fr;
        padding-top: 30%;
    }
}