.search-panel {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.search-top, .search-bottom {
    height: 200px;
    width: 100%;
    background-color: #4B6587;
}

.website-content {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
}

.website-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    margin-bottom: 10px;
}

.ingredient-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 0;
    height: 100%;
    padding-left: 20px;
    margin: 0;
}

.ingredient-search {
    display: block;
    min-height: auto;
    padding-left: 0px;
    flex-grow: 1;
    width: auto;
}

.ingredient-tag {
    background-color: #4B6587;
    height: 30px;
    width: auto;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px Segoe UI;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    height: auto;
    overflow: visible;
    grid-template-rows: auto;
}

.dish-templated {
    height: 350px;
    background-color: #F7F6F2;
    border-radius: 18px;
    border: 1px solid #4B6587;
    box-shadow: 2px 2px 6px 0px #00000040;
}

.dish-img {
    position: relative;
    background-color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish-header {
    width: 100%;
    height: 20%;
    top: 40%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.dish-header-name {
    vertical-align: middle;
    color: #4B6587;
    font: 21px Segoe UI;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.dish-header-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish-header-time > p {
    margin: 1px;
    font: 12px Segoe UI;
    color: #4B6587;
}

.dish-ingredients {
    width: 100%;
    height: 40%;
    top: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0px 20px 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.ingredient-not-present, .ingredient-present {
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px Segoe UI;
}

.ingredient-present {
    background-color: #4B6587;
}

.ingredient-not-present {
    background-color: darkred;
}

.dish-img > img {
    width:100%;
    object-fit: fill;
}


@media only screen and (orientation: portrait) {
    .website-content {
        grid-template-columns: 1fr;
        margin-left: 15%;
        margin-right: 15%;
    }

    .website-content > div {
        margin-top: 150px;
    }

    #recipe-list {
        grid-template-columns: 1fr;
    }
}