body {
    margin: 0;
    font: 18px Segoe UI;
    color: #F0E5CF;
    text-decoration: none;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #4B6587;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    padding-bottom: 2mm;
    border-bottom: 1px solid #F7F6F2;
    width: 40%;
    max-width: 17cm;
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.login-container {
    width: 40%;
    max-width: 17cm;
    height: 2.5cm;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.register-container {
    width: 40%;
    max-width: 17cm;
    height: 4cm;
    text-align: center;
    display: flex;
    flex-direction: column;
}

form.login {
    padding-top: 4mm;
    padding-bottom: 4mm;
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 4mm;
    row-gap: 4mm;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1 fr 1fr;

    text-align: center;
}

form.register {
    padding-top: 4mm;
    padding-bottom: 4mm;
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 4mm;
    row-gap: 4mm;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1 fr 1fr;

    text-align: center;
}

.login input, .register input {
    background-color: transparent;
    border: none;
    border-bottom-style: inset;
    border-bottom: 1px solid #F7F6F2;
    caret-color: #F7F6F2;
    color: #F7F6F2;
    font: inherit;
    width: 100%;
    height: 90%;
}

.login input::placeholder, .register input::placeholder {
    font: 18px Segoe UI;
    color: #C8C6C6;
    text-decoration: none;
}

.login button, .register button {
    box-shadow: 2px 2px 6px 0px #00000040;
    background-color: #F7F6F2;
    border-radius: 6px;
    border: none;
    font: 20px Segoe UI;
    color: #4B6587;
    width: 100%;
    height: 100%;
}

.login button:hover, .register button:hover {
    background-color: #e2dfd0;
}

.error-text {
    color: red;
}

*:focus {
    outline: none;
}

@media only screen and (orientation: portrait) {
    .login-container {
        width: 70%;
        height: 7cm;
    }

    .register-container {
        width: 70%;
        height: 10cm;
    }

    .logo {
        width: 70%;
    }

    form.login {
        padding-top: 10mm;
        padding-bottom: 15mm;
        grid-template-rows: 1fr 1fr 1.5fr;
        grid-template-columns: none;
        row-gap: 8mm;
    }

    form.register {
        padding-top: 10mm;
        padding-bottom: 15mm;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr;
        grid-template-columns: none;
        row-gap: 8mm;
    }

    .login input, .register input {
        width: 99%;
    }
}
