body {
    background-color: #4B6587;
}

.content-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #4B6587;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    padding-bottom: 2mm;
    border-bottom: 1px solid #F7F6F2;
    width: 80%;
}

.sidenav-menu {
    height: 60%;
    width: 80%;
    background-color: #F7F6F2;
    border: 1px solid #4B6587;
    border-radius: 18px;
    margin-top: 5%;
    box-shadow: 2px 2px 6px 0px #00000040;
    overflow: auto;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbutton, .navbutton-selected {
    padding: 15px;
    border-radius: 50px;
    width: 60%;
    color: #4B6587;
}

.navbutton-selected {
    border: 1px solid #4B6587;
}

.navimg {
    vertical-align: middle;
    color: #4B6587;
}

.spacer {
    width: 70%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4B6587;
}

.website-content {
    margin-left: 300px;
}

@media only screen and (orientation: portrait) {
    .website-content {
        margin-left: 0;
        overflow: no-content;
    }

    .sidenav {
        width: 100%;
        justify-content: space-between;
        padding-top: 0;
        pointer-events: none
    }

    .logo {
        text-align: center;
        padding-bottom: 2mm;
        padding-top: 50px;
        border-bottom: 1px solid #F7F6F2;
        background-color: #4B6587;
        width: 80%;
    }

    .sidenav-menu {
        height: 80px;
        width: 80%;
        background-color: #F7F6F2;
        border: 1px solid #4B6587;
        border-radius: 18px;
        margin-top: 5%;
        margin-bottom: 20px;
        box-shadow: 2px 2px 6px 0px #00000040;
        pointer-events: all;
    }

    nav {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    ul {
        font: 0px "Segoe UI";
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .spacer {
        height: 70%;
        width: 2px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #4B6587;
    }

    .navbutton, .navbutton-selected {
        padding: 15px;
        border-radius: 50px;
        width: auto;
        color: #4B6587;
    }
}